.home-banner {
  // background-image: url('https://kitt.lewagon.com/placeholder/cities/random');
  background-image: url('https://source.unsplash.com/user/bastien_nvs/800x600');
  background-size: cover;
  height: 50vh;
  color: #eee;
  text-shadow: 0 0 4px rgba(0,0,0,0.5);
  text-align: center;
  padding-top: 20vh;
  font-family: Verdana, sans-serif !important;
}
